*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.maybe{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;  
}
.so{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}